@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new {@class = "btn btn-primary" });
</p>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new {id = movie.MovieID }, null)</td>
                    <td>@movie.Genres.Name</td>
                </tr>
            }

        </tbody>
    </table>
</div>


